.dashboard-background {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    // justify-content: space-between;
    // justify-content: center;
    // align-items: center;
    min-height: 100vh;
    // background: url('../assets/login-background10.jpg') no-repeat;
    // background-size: cover;
    // background-position: center;
    // margin: 0;
    // padding: 16;
    // box-sizing: border-box;
    // overflow: hidden;
    
}